@media only screen and (min-device-width : 320px) and (max-device-width : 375px) {

/*******************************************MENU*****************************************************/
	.nav-list {
		display: flex;
		justify-content: center;
		text-align: center;
	}
/***************************************MENU*****************************************************/
/**************************************WORK*******************************************************/
	
	#projects {
		height: 2350px;
		width: 100%;
		background-color: #21203a; 
	}	

	.about-article h1 {
		font-size: 1.5em;
		color: white;
	}

	.about-article p {
		font-size: 0.75em;
	}

	.about-article-paragraph {
		max-width: 300px;
	}

	.about-article-paragraph p {
		padding-top: 30px;
		font-size: 1em;
		text-align: justify;
		letter-spacing: 0.25px;
		line-height: 1.5em;
	}

	.project-contour {
		background-color: #2b2b2b;
	}

	.project-title-0 h1 {
		font-size: 1em;
		border-bottom: 2px solid white;
	}

	.row {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.project-contour {
		margin-top: 70px;
		height: 150px;
		width: 150px;
	}

	.project_img_1 img {
		height: 150px;
		width: 150px;
	}

	.project_img_2 img {
		height: 150px;
		width: 150px;
	}

	.project_img_3 img {
		height: 150px;
		width: 150px;
	}

	.project-title {
		width: 150px;
		height: 50px;
		background: #2b2b2b;
	}

	.project-title-2 {
		width: 150px;
		height: 50px;
		background: #2b2b2b;
	}


	.project-title a{
		max-width: 150px;
		margin-top: 50px;
		padding-left: 40px;
	}

	.project-title-2 a{
		max-width: 150px;
		margin-top: 50px;
		padding-left: 24.5px;
		font-size: 0.75em;
	}

	.about-article-paragraph-2 p {
		margin-top: 20%;
	}

	.about-article-paragraph-3 p {
		margin-top: 30%;
	}

	.row {
		margin-top: -5%;
	}

	.contact-title h1{
		font-size: 1.5em;
	}

	.contact-link {
		font-size: 1.5em;
		display: block;
		flex-direction: column;
	}

	/**************************************WORK*******************************************************/
	/**************************************CONTACT*******************************************************/

	#contact-link {
		height: 400px;
	}

	#contact-link ul {
		list-style-type: none;
		display: inline-block;
		align-items: center;
		flex-direction: column;
		margin-top: 100px;
		margin-left: 23%;
		margin-right: auto;

	}

	#contact-link i {
		font-size: 1.5em;
		margin-left: 10px;

	}

	.contact-link h1{
		font-size: 1.5em;
		color: white;
	}

	#contact-link a {
		font-size: 1.5em;	
	}

/**************************************CONTACT*******************************************************/
}

@media only screen and (max-device-width : 480px) {

/*******************************************MENU*****************************************************/
	.nav-list {
		display: flex;
		justify-content: center;
		text-align: center;
	}
/***************************************MENU*****************************************************/
/**************************************WORK*******************************************************/
	
	#projects {
		height: 2350px;
		width: 100%;
		background-color: #21203a; 
	}	

	.about-article h1 {
		font-size: 1.5em;
		color: white;
	}

	.about-article p {
		font-size: 0.75em;
	}

	.about-article-paragraph {
		max-width: 300px;
	}

	.about-article-paragraph p {
		padding-top: 30px;
		font-size: 1em;
		text-align: justify;
		letter-spacing: 0.25px;
		line-height: 1.5em;
	}

	.project-contour {
		background-color: #2b2b2b;
	}

	.project-title-0 h1 {
		font-size: 1em;
		border-bottom: 2px solid white;
	}

	.row {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.project-contour {
		margin-top: 70px;
		height: 150px;
		width: 150px;
	}

	.project_img_1 img {
		height: 150px;
		width: 150px;
	}

	.project_img_2 img {
		height: 150px;
		width: 150px;
	}

	.project_img_3 img {
		height: 150px;
		width: 150px;
	}

	.project-title {
		width: 150px;
		height: 50px;
		background: #2b2b2b;
	}

	.project-title-2 {
		width: 150px;
		height: 50px;
		background: #2b2b2b;
	}


	.project-title a{
		max-width: 150px;
		margin-top: 50px;
		padding-left: 40px;
	}

	.project-title-2 a{
		max-width: 150px;
		margin-top: 50px;
		padding-left: 24.5px;
		font-size: 0.75em;
	}

	.about-article-paragraph-2 p {
		margin-top: 20%;
	}

	.about-article-paragraph-3 p {
		margin-top: 30%;
	}

	.row {
		margin-top: -5%;
	}

	.contact-title h1{
		font-size: 1.5em;
	}

	.contact-link {
		font-size: 1.5em;
		display: block;
		flex-direction: column;
	}

	/**************************************WORK*******************************************************/
	/**************************************CONTACT*******************************************************/

	#contact-link ul {
		list-style-type: none;
		display: inline-block;
		align-items: center;
		flex-direction: column;
		margin-top: 100px;
		margin-left: 23%;
		margin-right: auto;

	}

	#contact-link i {
		font-size: 1.5em;
		margin-left: 10px;

	}

	.contact-link h1{
		font-size: 1.5em;
		color: white;
	}

	#contact-link a {
		font-size: 1.5em;	
	}

/**************************************CONTACT*******************************************************/
}

@media only screen and (min-device-width : 	768px) and (max-device-width : 1024px) {

/*******************************************MENU*****************************************************/
	.nav-list {
		display: flex;	
		justify-content: center;
		margin-left: 50px;
	}
	
	.nav-list li a {
		margin-right: 50px;
	}	
/*******************************************MENU*****************************************************/
/*******************************************WORK*****************************************************/
	.about-article h1 {
		font-size: 1.5em;
		color: white;
	}

	.about-article p {
		font-size: 0.75em;
	}

	.about-article-paragraph-3	p {
		margin-top: 10%;
		padding: 0 28%;
		color: white;
	}

	#project {
		height: auto;
	}

	#projects {
		height: 1600px;
		width: 100%;
	}

	.row {
		display: flex;
		justify-content: space-around;
	}

	.project-contour {
		margin: 30px 50px 40px 30px;
		height: 150px;
		width: 150px;
	}

	.project_img_1 img {
		height: 180px;
		width: 180px;
	}

	.project_img_2 img {
		height: 180px;
		width: 180px;
	}

	.project_img_3 img {
		height: 180px;
		width: 180px;
	}

	.project-title {
		width: 180px;
		height: 50px;
		background: #2b2b2b;
	}

	.project-title a {
		max-width: 100px;
		margin-top: 50px;
		padding-left: 50px;
	}

	.project-title-2 {
		width: 180px;
		height: 50px;
		background: #2b2b2b;
	}

	.project-title-0 h1 {
		font-size: 1.5em;
		border-bottom: 4px solid white;
	}

	.project-title-2 a {
	max-width: 200px;
    min-width: 50px;
    text-decoration: none;
    color: white;
    line-height: 3em;
    padding-left: 12.5%;

	}


/*******************************************WORK*****************************************************/
/*******************************************CONTACT*****************************************************/

	#contact-link ul {
		list-style-type: none;
		display: inline-block;
		align-items: center;
		flex-direction: column;
		margin-top: 1%;
		margin-left: 40%;
		margin-right: auto;
	}

/*******************************************CONTACT*****************************************************/

	
}

@media only screen and (min-device-width : 	2560px){

	.nav-list {
		max-width: 2400px;
	}

	#projects {
		height: 3200px;
		width: 100%;
	}
}